server:
  port: ${SERVER_PORT:8080}

app:
  jwt:
    secret: 12345678901234567890123456789012

spring:
  application:
    name: backend

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/helpiguacu}
    username: ${SPRING_DATASOURCE_USERNAME:helpiguacu}
    password: ${SPRING_DATASOURCE_PASSWORD:helpiguacu}

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  flyway:
    enabled: ${FLYWAY_ENABLED:false}
    locations: classpath:db/migration